<body>
<ul>
<% @dirs.each do |dir| %>
	<li><%= link_to  (dir, ingests_project_path(:id => @project.id, :path => dir)) %> <%= image_tag("hdd.jpg")%></li>
<% end %>
</ul>

<%= form_for(:path, :url => ingests_project_path(:id => @project.id)) do |f| %>
	<%= f.hidden_field :path, :value => params[:path] %>
	<%= submit_tag "go" %>
<% end %>
</body>