<script>$(function() {
	$("table")
		.tablesorter({widthFixed: true, widgets: ['zebra']})
		.tablesorterPager({container: $("#pager")});
});
function my_kwicks(){
    $('.kwicks').kwicks({
        duration: 300,
        max: 125,
        spacing:  0
    });
}

 $(document).ready(function(){
	my_kwicks();
});
</script>

<center>
	<ul class="kwicks">
		<li id="kwick1"><%= link_to 'Home', projects_path %> </li>
	     <li id="kwick7"><%= link_to 'New', new_project_path %></li>
		<li id="kwick6"></li> 
	 </ul>

<table id="myTable" class="tablesorter">
 <thead>
  <tr>
    <th>Project Name</th>
    <th>Data Size</th>
    <th>Show</th>
    <th>Edit</th>
    <th>Destroy</th>
  </tr>
 </thead>

<tbody class=content>
<%- @projects.each do |project| %>
  <tr>
    <td><%= project.name %></td>
    <td><%= number_to_human_size(project.size) %></td>
	<td><%= link_to 'Show', project %></td>
    <td><%= link_to 'Edit', edit_project_path(project) %></td>
    <td><%= link_to 'Destroy', project_path(project), :class => 'remote-delete' %></td>
  </tr>
<%- end %>
</tbody>
</table>
<div id="pager" class="pager">
	<form>
		<img src="/images/first.png" class="first"/>
		<img src="/images/prev.png" class="prev"/>
		<input type="text" class="pagedisplay"/>
		<img src="/images/next.png" class="next"/>
		<img src="/images/last.png" class="last"/>
		<select class="pagesize">
			<option selected="selected"  value="10">10</option>
			<option value="20">20</option>
			<option value="30">30</option>
			<option  value="40">40</option>
		</select>
	</form>
</div>
</center>



